.detail-img {
    height: 400px;
    display: flex;
    align-items: center;
    padding: 30px;
    border-right: 2px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    background-color: #F1F1F1;
}

.rating-color {
    color: #F4A137;
    font-size: 10px;
}

.update-detail {
    position: absolute;
    bottom: 15px;
    right: 10px;
    text-align: center;
}